@charset "UTF-8";
/* ==================================================================================================================
 *
 * Copyright ┬« 2018 Ritzga All Rights Reserved
 *
 * ================================================================================================================== */
/* ==================================================================================================================
 *
 * Ritzga.dog - colors
 *
 * ================================================================================================================== */
/* ==================================================================================================================
 *
 * Ritzga.dog - classes
 *
 * ================================================================================================================== */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 600px;
  margin: 20px auto; }

@media (min-height: 600px) {
  .margin-top-small {
    margin-top: 6vh; } }
@media (min-height: 859px) {
  .margin-top-small {
    margin-top: 12vh; } }
@media (min-height: 900px) {
  .margin-top-small {
    margin-top: 14vh; } }

@media (min-height: 600px) {
  .margin-top-half {
    margin-top: 12vh; } }
@media (min-height: 859px) {
  .margin-top-half {
    margin-top: 18vh; } }
@media (min-height: 900px) {
  .margin-top-half {
    margin-top: 20vh; } }

.margin-bot-half {
  margin-bottom: 13vh; }
  @media (min-height: 751px) {
    .margin-bot-half {
      margin-bottom: 10vh; } }

.to-top {
  margin-top: -60px; }
  @media (min-height: 751px) {
    .to-top {
      margin-top: -40px; } }

/* ==================================================================================================================
 *
 * Ritzga.dog - changes
 *
 * ================================================================================================================== */
.bg-dark {
  background: #37474f; }

.navbar-dark .navbar-nav .nav-link {
  color: #e3e3e3; }

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #00bcd4; }

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #00bcd4; }

/* ==================================================================================================================
 *
 * Ritzga.dog - main style
 *
 * ================================================================================================================== */
body {
  position: relative;
  background-color: #00bcd4; }

#content-home {
  height: 65px; }

a:hover {
  color: #00bcd4; }

/* ==================================================================================================================
 *
 * Ritzga.dog - presentation
 *
 * ================================================================================================================== */
#content-presentation {
  min-height: 100vh;
  color: #e3e3e3;
  background: transparent; }
  #content-presentation .rslides img {
    height: 50vh;
    width: 100%; }
    @media (max-width: 437px) {
      #content-presentation .rslides img {
        height: 25vh; } }

/* ==================================================================================================================
 *
 * Ritzga.dog - thatsMe
 *
 * ================================================================================================================== */
#content-thatsMe {
  min-height: 100vh;
  background: #37474f;
  color: #e3e3e3; }

#content-thatsMe:before {
  content: "";
  display: block;
  position: relative;
  top: -54px;
  height: 65px;
  background-color: #37474f;
  -webkit-clip-path: polygon(0 0, calc(50% - 50px) 0, 80% 50%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, calc(50% - 50px) 0, 80% 50%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, calc(50% - 50px) 0, 50% 80%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%); }

/* ==================================================================================================================
 *
 * Ritzga.dog - projects
 *
 * ================================================================================================================== */
#content-projects {
  min-height: 100vh;
  background: #00bcd4;
  color: #1f1f1f; }
  #content-projects a {
    color: #102027;
    font-weight: 600; }

#content-projects:before {
  content: "";
  display: block;
  position: relative;
  top: -54px;
  height: 65px;
  background-color: #00bcd4;
  -webkit-clip-path: polygon(0 0, calc(50% - 50px) 0, 80% 50%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, calc(50% - 50px) 0, 80% 50%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, calc(50% - 50px) 0, 50% 80%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%); }

/* ==================================================================================================================
 *
 * Ritzga.dog - moreProjects
 *
 * ================================================================================================================== */
#content-moreProjects {
  min-height: 100vh;
  background: #37474f;
  color: #e3e3e3; }

#content-moreProjects:before {
  content: "";
  display: block;
  position: relative;
  top: -54px;
  height: 65px;
  background-color: #37474f;
  -webkit-clip-path: polygon(0 0, calc(50% - 50px) 0, 80% 50%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, calc(50% - 50px) 0, 80% 50%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, calc(50% - 50px) 0, 50% 80%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%); }

/* ==================================================================================================================
 *
 * Ritzga.dog - content-wallpaper
 *
 * ================================================================================================================== */
#content-wallpaper {
  min-height: 100vh;
  background: #00bcd4;
  color: #1f1f1f; }
  #content-wallpaper a {
    color: #102027;
    font-weight: 600; }

#content-wallpaper:before {
  content: "";
  display: block;
  position: relative;
  top: -54px;
  height: 65px;
  background-color: #00bcd4;
  -webkit-clip-path: polygon(0 0, calc(50% - 50px) 0, 80% 50%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, calc(50% - 50px) 0, 80% 50%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, calc(50% - 50px) 0, 50% 80%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%); }

/* ==================================================================================================================
 *
 * Ritzga.dog - footer
 *
 * ================================================================================================================== */
#content-footer {
  min-height: 330px;
  background: #343A40;
  color: #e3e3e3; }
  @media (max-width: 559px) {
    #content-footer {
      min-height: 520px;
      text-align: center; } }
  #content-footer hr {
    background-color: #e3e3e3;
    color: #e3e3e3;
    border: #e3e3e3;
    height: 1px; }
  #content-footer .to-top {
    margin-top: -65px; }

#content-footer:before {
  content: "";
  display: block;
  position: relative;
  top: -54px;
  height: 65px;
  background-color: #343A40;
  -webkit-clip-path: polygon(0 0, calc(50% - 50px) 0, 80% 50%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, calc(50% - 50px) 0, 80% 50%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, calc(50% - 50px) 0, 50% 80%, calc(50% + 50px) 0, 100% 0, 100% 100%, 0 100%); }

/*# sourceMappingURL=style.css.map */
